.player {
  margin-top: 10px;
}
.player-hidden {
  height: 0px;
  width: 0px;
}
.player-regular {
  height: 200px;
  width: 280px;
}
.player-poster {
  margin-top: -15px;
  margin-bottom: 10px;
}
.volume-slider {
  display: inline-block;
  width: 200px !important;
  position: relative;
  top: 12px;
  margin-right: 20px;
}
