h1 {
  color: #3d3d3d;
}
.App-header {
  background-color: #00b0ff;
  padding-left: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}
.App-title {
  color: white;
  font-size: 50px;
  font-style: italic;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1px solid lightgray;
  padding: 2px 16px;
}
