.add-new-track-input {
  margin-top: -30px;
  margin-bottom: 20px;
}
.new-track-can-guess-container {
  margin-right: 10px;
  margin-left: 10px;
}
.can-guess-text {
  text-decoration: underline;
  font-size: 18px;
}
.checkboxes-container {
  display: inline;
}
