.challenge-interface-full-container {
  height: 108%;
}
.challenge-interface-right-container {
  width: 80%;
  float: left;
}
.challenger-interface {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}
.top-row-container {
  margin-top: 20px;
}
.bottom-row-container {
  display: flex;
  justify-content:space-between;
  margin-bottom: 20px;
}
.bottom-card {
  width: 280px;
  height: 200px;
  text-align: center;
}
